{% extends "base.html" %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    {# Tabla de Datos #}

    {% load humanize %}

    <style>
        /* Reduce altura de filas */
        table.dataTable tbody tr {
            line-height: 1;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Tabla de Bonos Largos
            $('#tablaLargos').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: false,
                pageLength: 10,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
                }
            });

            // Tabla de Bonos Largos
            $('#tablaLideres').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: false,
                pageLength: 10,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
                }
            });

            let tablaCortosInicializada = false;

            // Inicializar tablaCortos solo cuando se muestra el tab
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                if (e.target.id === 'cortos-tab' && !tablaCortosInicializada) {
                    $('#tablaCortos').DataTable({
                        paging: true,
                        searching: true,
                        ordering: true,
                        info: false,
                        pageLength: 10,
                        language: {
                            url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
                        }
                    });
                    tablaCortosInicializada = true;
                }
            });
        });
    </script>

    <h5 class=""> Panel Líderes </h5>
    <div class="table-responsive">
        <table id="tablaLideres" class="table table-striped table-bordered text-end">
            <thead class="table-light">
                <tr>
                    <th class="text-start">Symbol</th>
                    <th>Last</th>
                    <th>Change</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Previous Close</th>
                    <th>Volume</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for cot in object_list %}
                    {% if cot.panel == 'bluechips' %}
                    <tr>
                        <td class="text-start">{{ cot.symbol }}</td>
                        <td class="">{{ cot.last }}</td>
                        <td class="{% if cot.change > 0.9 %}
                                        text-success
                                   {% elif cot.change < -0.3 %}
                                        text-danger
                                   {% else %}
                                        text-primary
                                    {% endif %}">
                            {% if cot.change > 0 %}+{% endif %}{{ cot.change|floatformat:1 }}%
                        </td>
                        <td class="">{{ cot.open }}</td>
                        <td class="">{{ cot.high }}</td>
                        <td class="">{{ cot.low }}</td>
                        <td class="">{{ cot.previous_close }}</td>
                        <td class="">{{ cot.volume|intcomma }}</td>
                        <td class="">{{ cot.operations|intcomma }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
 
    <h5 class="">Bonos</h5>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="bonosTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="largos-tab" data-bs-toggle="tab" data-bs-target="#largos" type="button" role="tab" aria-controls="largos" aria-selected="true">
          Bonos
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="cortos-tab" data-bs-toggle="tab" data-bs-target="#cortos" type="button" role="tab" aria-controls="cortos" aria-selected="false">
          Letras
        </button>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mb-5">
      <!-- Bonos Largos -->
      <div class="tab-pane fade show active" id="largos" role="tabpanel" aria-labelledby="largos-tab">
        <div class="table-responsive mt-3">
          <table id="tablaLargos" class="table table-striped table-bordered text-end">
            <thead class="table-light">
              <tr>
                <th class="text-start">Symbol</th>
                <th>Last</th>
                <th>Change</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Previous Close</th>
                <th>Volume</th>
                <th>Operations</th>
                <!-- <th>Panel</th> -->
              </tr>
            </thead>
            <tbody>
              {% for cot in object_list %}
                {% if cot.panel == 'government_bonds' %}
                <tr>
                  <td class="text-start">{{ cot.symbol }}</td>
                  <td>{{ cot.last|floatformat:1 }}</td>
                  <td class="{% if cot.change > 0.9 %}
                                  text-success
                             {% elif cot.change < -0.3 %}
                                  text-danger
                             {% else %}
                                  text-primary
                             {% endif %}">
                    {% if cot.change > 0 %}+{% endif %}{{ cot.change|floatformat:1 }}%
                  </td>
                  <td>{{ cot.open|floatformat:1 }}</td>
                  <td>{{ cot.high|floatformat:1 }}</td>
                  <td>{{ cot.low|floatformat:1 }}</td>
                  <td>{{ cot.previous_close|floatformat:1 }}</td>
                  <td>{{ cot.volume|intcomma }}</td>
                  <td>{{ cot.operations|intcomma }}</td>
                  <!-- <td class="text-start">{{ cot.panel }}</td> -->
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Bonos Cortos -->
      <div class="tab-pane fade" id="cortos" role="tabpanel" aria-labelledby="cortos-tab">
        <div class="table-responsive mt-3">
          <table id="tablaCortos" class="table table-striped table-bordered text-end">
            <thead class="table-light">
              <tr>
                <th class="text-start">Symbol</th>
                <th>Last</th>
                <th>Change</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Previous Close</th>
                <th>Volume</th>
                <th>Operations</th>
                <th>Panel</th>
              </tr>
            </thead>
            <tbody>
              {% for cot in object_list %}
                {% if cot.panel == 'short_term_government_bonds' %}
                <tr>
                  <td class="text-start">{{ cot.symbol }}</td>
                  <td>{{ cot.last|floatformat:1 }}</td>
                  <td class="{% if cot.change > 0.9 %}
                                  text-success
                             {% elif cot.change < -0.3 %}
                                  text-danger
                             {% else %}
                                  text-primary
                             {% endif %}">
                    {% if cot.change > 0 %}+{% endif %}{{ cot.change|floatformat:1 }}%
                  </td>
                  <td>{{ cot.open|floatformat:1 }}</td>
                  <td>{{ cot.high|floatformat:1 }}</td>
                  <td>{{ cot.low|floatformat:1 }}</td>
                  <td>{{ cot.previous_close|floatformat:1 }}</td>
                  <td>{{ cot.volume|intcomma }}</td>
                  <td>{{ cot.operations|intcomma }}</td>
                  <td class="text-start">{{ cot.panel }}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock %}




